.hidden {
    display: none;
}
.message-coming-soon {
    display: none;
    width: 100%;
    text-align: center;
}
.message-coming-soon > h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    color: rgba(0,0,0,.25);
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem;
    min-height: 20rem;
}
.column {
    display: flex;
    flex-direction: column;
}
section.row:not(:first-child) {
    padding-top: 4rem;
}
.flex-grow {
    flex-grow: 1;
}
.text-emphasis {
    color: rgba(18,120,177,1);
    font-weight: bold;
    text-transform: uppercase;
}
.phone-display,
.phone-button {
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;
}
.phone-display > a {
    font-family: 'Futura, Arial';
    font-weight: 600;
    color: rgba(255,255,255,.75);
    text-decoration: none;
}
.phone-display > a:hover {
    text-shadow: .125rem .125rem .5rem rgba(0,0,0,.25);
    color: #ffffff;
}
.phone-button {
    cursor: pointer;
    border-radius: 2rem;
    background: rgba(18,120,177,1);
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Futura, Arial';
    font-weight: 600;
    color: rgba(255,255,255,.75);
    text-decoration: none;
}
.phone-button:hover {
    box-shadow: .125rem .125rem .5rem rgba(0,0,0,.25);
    color: #ffffff;
}

.intro-title {
    font-family: 'Futura, Arial';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
    color: #06588b;
}
.subtitle {
    font-size: 2rem;
}
.section-image {
    font-family: 'Futura, Arial';
    font-weight: 600;
    color: rgba(255,255,255,.75);
    background-image: url("../images/photos/banner.jpg");
    background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
    min-width: 50%;
    min-height: 30rem;
}
.section-image--windows {
    background-image: url("../images/photos/lites-after.jpg");
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    min-width: 70%;
    min-height: 30rem;
}
.section-image--pressure {
    background-image: url("../images/photos/stairs-process.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-width: 50%;
    min-height: 30rem;
}
.section-image--solar {
    background-image: url("../images/photos/solar-process.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    min-width: 70%;
    min-height: 30rem;
}
.section-image--roofs {
    background-image: url("../images/photos/gutter-after.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-width: 50%;
    min-height: 30rem;
}
.section-text {
    margin: 0 1rem;
}
.vertical-space {
    padding: 1rem 0;
}
.left-center {
    text-align: left;
}
.right-center {
    text-align: right;
}
.content-callout {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: rgba(18,120,177,.25);
}